@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #eff1f5;
    --color-dark-bg: #303446;
    --color-green: #40a02b;
    --color-purple: #ca9ee6;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    height: 80px;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items {
    height: 100%;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.nav-items a {
    font-family: 'JetBrains Mono';
    color: black;
}

.nav-items a:hover {
    border-bottom: 2px solid var(--color-green);
}

#cadastro-btn {
    background-color: var(--color-green);
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
}

.content {
    width: 1000px;
    flex: 1;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.hero {
    width: 1000px;
    height: 75vh;
    margin: 60px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img {
    width: 50%;
    height: 100%;
}

.hero-img img {
    width: 100%;
    height: 100%;
}

.hero-text {
    width: 40%;
    text-align: right;
}

.hero-text h1 {
    font-size: 2.5rem;
}

.about-us {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 60px 0px;
    gap: 40px;
}

.box-my-info {
    width: 200px;
    background-color: var(--color-green);
    padding: 20px;
    border-radius: 8px;
}

.box-my-info img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about-us-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
}

.about-us-text h2 {
    font-family: 'JetBrains Mono';
    font-size: 2rem;
    margin-bottom: 20px;
}

.products {
    margin: 60px 0px;
    width: 100%;
    display: flex;
    flex: wrap;
    gap: 20px;
}

.product {
    width: 200px;
    background-color: var(--color-green);
    padding: 20px;
    border-radius: 8px;
    color: white;
}

.product-img {
    height: 150px;
    margin-bottom: 10px;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.cadastro,
.cadastro-product {
    margin: 60px 0px;
    display:  flex;
    flex-direction: column;
    align-items: center;
}

.cadastro h1,
.cadastro-product h1 {
    font-family: 'JetBrains Mono';
}

.cadastro-user-form,
.cadastro-product-form {
    width: 400px;
    margin-top: 40px;
}

.cadastro-user-form input,
.cadastro-product-form input {
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
    border: 1px solid var(--color-green);
    border-radius: 4px;
    padding: 4px 8px;
}

.cadastro-user-form button,
.cadastro-product-form button {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    background-color: var(--color-green);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-family: 'Inter';
}

footer {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-bg);
    margin-top: 60px;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--color-purple);
    cursor: pointer;
}
