.cesta-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 1em 3em 3em;
    position: relative;
    gap: 2em;
    border-radius: 1rem;
    background: rgba(148, 197, 68, 0.1);
}

.best {
    background: rgba(148, 197, 68, 0.4);
}

.cesta-card-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.cesta-card-text h4 {
    font-weight: normal;
}

.promo {
    font-weight: bold;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--text);
}

.best .promo {
    visibility: visible;
}

.cesta-card-img img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.5rem;
}

.cesta-card p {
    line-height: 1.2rem;
}

.btn {
    padding: .5em 2em;
    background-color: var(--secondary);
    border-radius: .5rem;
    display: inline-block;
    z-index: 1;
    transition: transform ease 0.2s;
    white-space: nowrap;
}

.btn:hover {
    transform: translate(0, -3px);
    transition: transform ease 0.2s;
}

.primary-btn {
    background-color: var(--primary);
}
